
  
 
  
  
  
  .My_dropdown-menu {
    top: 0%;
    
  }
  
  .My_dropdown-menu > button:hover {
    background: #11101D;
  }
  
  .My_dropdown-menu button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 16px;
    width: 230px;
    height: 64px;
    border-radius: 12px;
    color: #fdfefe;
    background: #11101D;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    font-family: "Cambria";
  }
  
  .My_dropdown-menu > button {
    position: relative;
    z-index: 10;
    transition: 0.3s;
  }
  
  .My_dropdown-menu.open > button {
    /*   background: #080808; */
    background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
    background: linear-gradient(to bottom, #0072ff, #00c6ff);
  }
  
  .My_dropdown-menu button #dropdown-icon {
    margin-left: auto;
  }
  
  .dropdown__menu-labels {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 70px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    border-radius: 12px;
    /*   border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; */
    border-top: 0;
    background: #17202a;
    translate: 0 -20px;
    transition: 0.4s;
  }
  
  .dropdown__menu-labels button {
    border: 0;
    width: 100%;
    height: 56px;
    border-radius: 0;
  }
  
  .dropdown__menu-labels button:hover {
    background: #080808;
  }
  
  .My_dropdown-menu.open .dropdown__menu-labels {
    opacity: 1;
    translate: 0;
    visibility: visible;
  }
  